{% include data.html %}
{% capture orgpath %}/org/{{page.owner}}/{% endcapture %}
{% assign org = {{orgs|where:"url",orgpath|first}} %}
{% assign urlparts = page.url|split:"/" %}
{% assign vid = urlparts[1] %}
{% assign pid = urlparts[2] %}
<!DOCTYPE html>
<html>
{% capture title %}{{vid}}/{{pid|upcase}} {{page.title}}{% endcapture %}
{% include head.html title=title %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        <div class="post">
          <header class="post-header">
            <h1 class="h2">
            	<a href="/{{vid}}/">{{vid|upcase}}</a> /
              {{pid|upcase}} -
              {{page.title|xml_escape}}
            </h1>
          </header>
          <article class="post-content">
            <table>
              <tr><th>VID</th><td>0x{{vid|upcase}}</td></tr>
              <tr><th>PID</th><td>0x{{pid|upcase}}</td></tr>
              <tr><th>Owner</th><td><a href="{{orgpath}}">{{org.title|xml_escape}}</a></td></tr>
              <tr><th>License</th><td>{{page.license|xml_escape}}</td></tr>
              {% if page.site %}
                <tr><th>Site</th><td><a href="{{page.site}}">{{page.site|xml_escape}}</a></td></tr>
              {% endif %}
              {% if page.source %}
                <tr><th>Source</th><td><a href="{{page.source}}">{{page.source|xml_escape}}</a></td></tr>
              {% endif %}
            </table>
          {{ content }}
          </article>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>
